# General UID/GIU and Timezone
TZ=Australia/Perth
PUID=1000
PGID=1000

# Input your VPN provider and type here
VPN_SERVICE_PROVIDER=airvpn
VPN_TYPE=wireguard

# Mandatory, airvpn forwarded port
FIREWALL_VPN_INPUT_PORTS=port

# Copy all these variables from your generated configuration file
WIREGUARD_PRIVATE_KEY=key

# Optional location variables, comma separated list,no spaces after commas, make sure it matches the config you created
SERVER_COUNTRIES=Australia
SERVER_CITIES=Perth

# Heath check duration
HEALTH_VPN_DURATION_INITIAL=120s
